<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>Pleated Drapery Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <style>
      .flex-container {
        display: flex;
        flex-wrap: nowrap;
      }

      .flex-container > div {
      }

      #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: left;
        color: #2c3e50;
        margin-top: 0px;
      }
      html,
      input,
      select {
        font-size: 1em;
      }

      .bold {
        font-weight: bold;
      }

      input,
      select,
      textarea {
        border: 1px solid #ccc;
        padding: 2px;
        border-radius: 4px;
        box-sizing: border-box;
        font-weight: bold;
      }

      .section {
        margin: 20px 0px 0px 20px;
        padding: 40px;
        background-color: gainsboro;
        
      }
      table {
        margin-right: 40px;
      }
      td {
        text-align: left;
        width: auto;
        padding: 4px;
        min-width: 120px;
        outline: 0px red solid;
      }

      .wide {
        width: 320px;
      }

      .divider {
        clear: both;
        padding: 10px 0px 10px 0px;
      }

      .big {
        font-size: 1.5em;
      }
      .asterisk {
        color: red;
        font-size: 1em;
        display: none;
      }

      .logo {
        height: 400px;
        float: left;
      }

      .header {
        display: none;
      }

      .printTip {
        position: absolute;
        right: 20px;
        top: 0px;
        color: dodgerblue;
      }

      .grey {
        background-color: #e1e1e1;
      }

      .green {
        color: green;
      }

      /* override styles when printing */
      @media print {
        #app {
          font-size: 7px;
          
        }

        .flex-container {
        display: flex;
        flex-wrap: wrap;
      }
      .section {
        margin: 0px 20px 40px 0px;
        padding: 0px;
              
      }
      .total {
        outline:1px black solid;
      }
      td {
        padding: 1px;
      }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Pleated Drapery Configurator <span style="color:#bbb;">(CTRL+P to Print)</span></h1>
      <!-- <h3 class="printTip">Press CRTL + P to save as PDF</h3> -->

      <div class="header">
        <img src="@/assets/rmcoco.svg" class="logo" />

        <table>
          <tr>
            <td><strong>Custom Creations by RM COCO</strong></td>
          </tr>
          <tr>
            <td>1389 Southern Expressway</td>
          </tr>
          <tr>
            <td>Cape Girardeau, MO 63702-1270</td>
          </tr>
          <tr>
            <td>Phone: 800-325-8025</td>
          </tr>
          <tr>
            <td>Fax: 800-501-6810</td>
          </tr>
          <tr>
            <td>
              <a href="mailto:customcreations@rmcoco.com"
                >customcreations@rmcoco.com</a
              >
            </td>
          </tr>
        </table>
      </div>

      <!-- <table class="address">
        <tr>
          <td>Quote #</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><input type="date" /></td>
        </tr>
      </table>
  
      <div class="divider"><hr /></div>
  
      <table>
        <tr>
          <td><strong>Bill To</strong></td>
          <td><input type="text" v-model="billTo.name" /></td>
        </tr>
  
        <tr>
          <td>Address</td>
          <td><input type="text" class="wide" v-model="billTo.address" /></td>
        </tr>
        <tr>
          <td>City</td>
          <td><input type="text" v-model="billTo.city" /></td>
        </tr>
        <tr>
          <td>State</td>
          <td>
            <select v-model="billTo.state">
              <option value=""></option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Zip Code</td>
          <td><input type="text" v-model="billTo.zipCode" /></td>
        </tr>
        <tr>
          <td>Acct #</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Sidemark</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>PO#</td>
          <td><input type="text" /></td>
        </tr>
      </table>
  
      <table>
        <tr>
          <td><strong>Ship To</strong></td>
          <td><input type="text" v-model="shipTo.name" /></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" class="wide" v-model="shipTo.address" /></td>
        </tr>
        <tr>
          <td>City</td>
          <td><input type="text" v-model="shipTo.city" /></td>
        </tr>
        <tr>
          <td>State</td>
          <td>
            <select v-model="shipTo.state">
              <option value=""></option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Zip Code</td>
          <td><input type="text" v-model="shipTo.zipCode" /></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Fax</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Order</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Quote</td>
          <td><input type="text" /></td>
        </tr>
      </table>
  
      <table class="hidePrint">
        <tr>
          <td><button @click="copyAddress">Copy from billing</button></td>
        </tr>
      </table> -->

      <!-------------------- Base cost --------------------->
      <div class="section">
        <div class="flex-container">
          <div>
            <table>
              <tr>
                <td>Panel or Pair</td>
                <td>
                  <select
                    name=""
                    id=""
                    v-model.number="panelOrPair"
                    @change="update()"
                  >
                    <option value="panel">Panel</option>
                    <option value="pair">Pair</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Pattern</td>
                <td><input type="text" /></td>
              </tr>
              <tr>
                <td>Color</td>
                <td><input type="text" /></td>
              </tr>
              <tr>
                <td>Source</td>
                <td><input type="text" /></td>
              </tr>
              <tr>
                <td>COM</td>
                <td>
                  <select name="" id="" v-model="COM" @change="update()">
                    <option :value="true">Yes</option>
                    <option :value="false">No</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Width (in)</td>
                <td>
                  <select
                    name="boltWidth"
                    id=""
                    v-model.number="boltWidth"
                    @change="update()"
                  >
                    <option value="48">48</option>
                    <option value="54">54</option>
                    <option value="60">60</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Repeat</td>
                <td>
                  <input
                    type="number"
                    name="repeat"
                    min="0"
                    v-model.number="repeat"
                    @change="update()"
                  />
                </td>
              </tr>
              <!-- <tr>
          <td></td>
          <td style="font-size: 0.8em">
            Price Code Surcharge: +{{ repeatSurcharge }}
          </td>
        </tr> -->

              <tr v-show="!COM">
                <td>Price Code</td>
                <td>
                  <input
                    type="number"
                    name="priceCode"
                    min="4"
                    v-model.number="priceCode"
                    @change="update()"
                  />
                </td>
              </tr>
              <tr>
                <td>Shirr Top Bottom</td>
                <td>
                  <select name="" id="" v-model="shirr">
                    <option value="none">None</option>
                    <option value="top">Top</option>
                    <option value="bottom">Bottom</option>
                    <option value="both">Top & Bottom</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Heading Size</td>
                <td>
                  <input
                    type="number"
                    name=""
                    id=""
                    v-model="headingSize"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Rod Pocket Size</td>
                <td>
                  <input
                    type="number"
                    name=""
                    id=""
                    v-model="rodPocketSize"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Lining</td>
                <td>
                  <select name="" id="" v-model="lining" @change="update()">
                    <option :value="false">Unlined</option>
                    <option :value="true">Lined</option>
                  </select>
                </td>
              </tr>

              <tr v-show="lining">
                <td>Type of Lining</td>
                <td>
                  <select name="" id="" v-model="liningType"  @change="update()">
                    <option value="RoyalSateen">Royal Sateen</option>
                    <option value="COCOWeatherGuard">COCO Weather Guard</option>
                    <option value="sussex">Sussex</option>
                    <option value="COCOTherafoam">COCO Therafoam</option>
                    <option value="RMSheen">R & M Sheen</option>
                    <option value="blackout">Blackout</option>
                    <!-- <option value="">Other (See Below)</option> -->
                  </select>
                </td>
              </tr>
              <tr v-show="lining">
                <td>Lining Color</td>
                <td>
                  <select name="" id="" v-model="liningColor">
                    <option value="white">White</option>
                    <option value="ivory">Ivory</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td>Pin Setting</td>
                <td>
                  <select name="" id="" v-model="pinSetting">
                    <option value="regular">Regular Rod (1.75")</option>
                    <option value="decorative">Decorative Rod (0.5")</option>
                    <option value="ceiling">Ceiling Rod (1.5")</option>
                  </select>
                </td>
              </tr>

              <!-- <tr>
          <td></td>
          <td style="font-size: 0.8em">
            Actual price code: {{ repeatSurcharge + priceCode }}
          </td>
        </tr> 
  
        <tr>
          <td>Price</td>
          <td><input type="text" /></td>
        </tr>-->
            </table>
          </div>

          <div>
            <table>
              <tr>
                <td>Rod Width (in)</td>
                <td>
                  <input
                    type="number"
                    name="rodWidth"
                    v-model.number="rodWidth"
                    @change="update"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Left Return (in)</td>
                <td>
                  <input
                    type="number"
                    name="leftReturn"
                    v-model.number="leftReturn"
                    @change="update"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Right Return (in)</td>
                <td>
                  <input
                    type="number"
                    name="rightReturn"
                    v-model.number="rightReturn"
                    @change="update"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Overlap (in)</td>
                <td>
                  <input
                    type="number"
                    name="overlap"
                    v-model.number="overlap"
                    @change="update"
                    min="0"
                  />
                </td>
              </tr>
              <tr>
                <td>Finished Width (in)</td>
                <td>
                  <span class="bold">{{ this.finishedWidth }}</span>
                </td>
              </tr>

              <tr>
                <td>Fullness</td>
                <td>
                  <select
                    name="fullness"
                    id=""
                    v-model.number="fullness"
                    @change="update()"
                  >
                    <option
                      v-for="item in fullnessOptions"
                      :value="item"
                      :key="item"
                    >
                      {{item}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span style="color: red"
                    >{{ this.fullnessMessage }}</span
                  >
                </td>
              </tr>
              <tr>
                <td>Total Widths</td>
                <td>
                  <span class="bold">{{ this.totalWidths }}</span>
                </td>
              </tr>
              <tr>
                <td>Finished Length (in)</td>
                <td>
                  <input
                    type="number"
                    name="finishedLength"
                    v-model.number="finishedLength"
                    min="0"
                    max="180"
                    @change="update()"
                  />
                </td>
              </tr>
              <tr>
                <td>Cut Length (in)</td>
                <td class="bold">{{ this.cutLength }}</td>
              </tr>
              <tr>
                <td>Extra for Repeat (in)</td>
                <td class="bold">{{ this.fabricNeededForRepeat }}</td>
              </tr>
              <tr>
                <td>Total Length (in)</td>
                <td class="bold">{{ this.totalLength }}</td>
              </tr>
              <tr>
                <td>Yardage Required</td>

                <td>
                  <span class="bold">{{ this.COMyardage }}</span>
                </td>
              </tr>
            </table>
          </div>

          <div>
            <table>
              
            </table>
          </div>
        </div>
        <div class="divider"></div>
        <table>
          <tr>
            <td class="bold big">Base Cost (D1)</td>
            <td class="bold big green">${{ baseCost }}</td>
          </tr>
          <tr>
            <td class="bold big">Blackout Upcharge (D7)</td>
            <td class="bold big green">${{ blackoutCost }}</td>
          </tr>
        </table>
      </div>

      <div class="flex-container">
        <!-------------------- Pleats --------------------->
        <div class="section" style="width: 50%">
          <table>
            <tr>
              <td>Pleat Type</td>
              <td>
                <select name="" id="" v-model="pleatType" @change="update()">
                  <option value="1prong">1 Prong Pinch Pleat</option>
                  <option value="2prong">2 Prong Pinch Pleat</option>
                  <option value="3prong">3 Prong Pinch Pleat</option>
                  <option value="2prongtacked">2 Prong Tacked at Top</option>
                  <option value="3prongtacked">3 Prong Tacked at Top</option>
                  <option value="reverse">Reverse</option>
                  <option value="softgoblet">Soft Goblet Pleat</option>
                  <option value="cartridge">Cartridge</option>
                  <option value="casual1prong">Casual 1 Prong</option>
                  <option value="singleskip">Single Skip Pleat</option>
                  <option value="clusterskip">Cluster Skip Pleat</option>
                  <option value="sewonCOM">Sew on C.O.M. Ring Top</option>
                  <option value="graduated">
                    Pinch Pleated Graduated Valance
                  </option>
                  <option value="multigraduated">
                    Pinch Pleated Multiple Graduated Valance
                  </option>
                  <option value="box">Box Pleat</option>
                  <option value="inverted">Inverted Pleated</option>
                </select>
              </td>
              </tr>
              <tr>
              <td colspan="2">
                <span style="color: red">{{ this.fullnessMessage }}</span>
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td class="bold big">Pleat Upcharge</td>
              <td class="bold big green">${{ pleatCost }}</td>
            </tr>
          </table>
        </div>

        <!-------------------- Interlining --------------------->
        <div class="section" style="width: 50%">
          <table>
            <tr>
              <td>Interlining</td>
              <td>
                <select name="" id="" v-model="interlining" @change="update()">
                  <option :value="true">Yes</option>
                  <option :value="false">No</option>
                </select>
              </td>
            </tr>
            <tr v-show="interlining">
              <td>Color</td>
              <td>
                <select name="" v-model="interliningColor" id="">
                  <option value="white">White</option>
                  <option value="ivory">Ivory</option>
                </select>
              </td>
            </tr>
          </table>

          <table>
            <tr>
              <td class="bold big">Interlining Upcharge (D7)</td>
              <td class="bold big green">${{ interliningCost }}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-------------------- Trimming --------------------->
      <div  class="flex-container">
        <div class="section" style="width: 50%">
          <table>
            <tr>
              <td>Horizontal Trimming</td>
              <td>
                <select
                  name=""
                  id=""
                  v-model="trimming.horizontal.included"
                  @change="update()"
                >
                  <option :value="true">Yes</option>
                  <option :value="false">No</option>
                </select>
              </td>
            </tr>

            <tr v-show="trimming.horizontal.included">
              <td>COM</td>
              <td>
                <select
                  name=""
                  id=""
                  v-model="trimming.horizontal.COM"
                  @change="update()"
                >
                  <option :value="true">Yes</option>
                  <option :value="false">No</option>
                </select>
              </td>
            </tr>

            <tr v-show="trimming.horizontal.included">
              <td>Pattern / Color</td>
              <td>
                <input type="text" v-model="trimming.horizontal.pattern" />
              </td>
            </tr>
            <tr v-show="trimming.horizontal.included">
              <td>Price / yd</td>
              <td>
                <input
                  type="number"
                  v-model="trimming.horizontal.price"
                  @change="update"
                />
              </td>
            </tr>
            <tr v-show="trimming.horizontal.included">
              <td>Yardage required</td>
              <td>
                <span class="bold"
                  >{{ trimming.horizontal.yardageRequired }}</span
                >
              </td>
            </tr>
            <tr v-show="trimming.horizontal.included">
              <td>Trim Cost</td>
              <td>
                <span class="bold">${{ trimming.horizontal.cost }}</span>
              </td>
            </tr>
            <tr v-show="trimming.horizontal.included">
              <td>Labor (table D5)</td>
              <td>
                <span class="bold">${{ trimming.horizontal.labor }}</span>
              </td>
            </tr>
            <!--
          <tr v-show="trimming.horizontal.included">
            <td>Total</td>
            <td>
              <span class="bold">${{ trimming.horizontal.total }}</span>
            </td>
          </tr>
          --></table>

          <table>
            <tr>
              <td class="bold big">Horizontal Trimming</td>
              <td class="bold big green">${{ trimming.horizontal.total }}</td>
            </tr>
          </table>
        </div>

        <div class="section" style="width: 50%">
          <table>
            <tr>
              <td>Vertical Trimming</td>
              <td>
                <select
                  name=""
                  id=""
                  v-model="trimming.vertical.included"
                  @change="update()"
                >
                  <option :value="true">Yes</option>
                  <option :value="false">No</option>
                </select>
              </td>
            </tr>

            <tr v-show="trimming.vertical.included">
              <td>COM</td>
              <td>
                <select
                  name=""
                  id=""
                  v-model="trimming.vertical.COM"
                  @change="update()"
                >
                  <option :value="true">Yes</option>
                  <option :value="false">No</option>
                </select>
              </td>
            </tr>

            <tr v-show="trimming.vertical.included">
              <td>Pattern / Color</td>
              <td><input type="text" v-model="trimming.vertical.pattern" /></td>
            </tr>
            <tr v-show="trimming.vertical.included">
              <td>Price / yd</td>
              <td>
                <input
                  type="number"
                  v-model="trimming.vertical.price"
                  @change="update"
                />
              </td>
            </tr>
            <tr v-show="trimming.vertical.included">
              <td>Yardage required</td>
              <td>
                <span class="bold"
                  >{{ trimming.vertical.yardageRequired }}</span
                >
              </td>
            </tr>
            <tr v-show="trimming.vertical.included">
              <td>Trim Cost</td>
              <td>
                <span class="bold">${{ trimming.vertical.cost }}</span>
              </td>
            </tr>
            <tr v-show="trimming.vertical.included">
              <td>Labor (table D9)</td>
              <td>
                <span class="bold">${{ trimming.vertical.labor }}</span>
              </td>
            </tr>
            <!-- <tr v-show="trimming.vertical.included">
            <td>Total</td>
            <td>
              <span class="bold">${{ trimming.vertical.total }}</span>
            </td>
          </tr> -->
          </table>

          <table>
            <tr>
              <td class="bold big">Vertical Trimming</td>
              <td class="bold big green">${{ trimming.vertical.total }}</td>
            </tr>
          </table>
        </div>
      </div>

      <!-------------------- Total --------------------->
      <table class="section total" style="background-color: aquamarine">
        <tr>
          <td class="big bold">Unit price</td>
          <td class="big bold green">${{ unitCost }}</td>
        </tr>
        <tr>
          <td class="big bold">Quantity</td>
          <td class="big bold">
            <input
              type="number"
              name=""
              id=""
              min="1"
              v-model.number="quantity"
              @change="updateAll()"
            />
          </td>
        </tr>
        <tr>
          <td class="bold big">Total</td>
          <td class="bold big green">${{ unitCost * quantity }}</td>
        </tr>
      </table>
    </div>

    <script type="module">
      import { masterFunction } from "./main.js";

      calculator = new Vue({
        el: "#app",
        data: {
          billTo: {
            name: null,
            address: null,
            city: null,
            state: null,
            zipCode: null,
            accountNo: null,
            sideMark: null,
            PO: null,
          },
          shipTo: {
            name: null,
            address: null,
            city: null,
            state: null,
            zipCode: null,
            phone: null,
            fax: null,
            order: null,
            quote: null,
          },
          pattern: null,
          color: null,
          source: null,
          description: null,
          boltWidth: 54,
          repeat: null,
          repeatSurcharge: null,
          priceCode: 5,
          fabricPrice: null,
          pricePoint: null,
          panelOrPair: "panel",
          quantity: 1,
          rodWidth: 0,
          leftReturn: 0,
          rightReturn: 0,
          overlap: 0,
          COM: false,
          finishedWidth: null,
          fullness: 2,
          fullnessOptions: [1.5, 2, 2.25, 2.5, 3],
          fullnessMessage: "",
          totalWidths: null,
          finishedLength: 0,
          cutLength: 0,
          shirr: null,
          headingSize: null,
          rodPocketSize: null,
          lining: false,
          liningType: "RoyalSateen",
          liningColor: null,
          interlining: false,
          interliningColor: null,
          interliningCost: 0,
          blackout:false,
          blackoutCost:0,
          pinSetting: "regular",
          COMyardage: null,
          fabricNeededForRepeat: 0,
          baseCost: 0,
          totalLength: 0,
          pleatType: null,
          pleatMessage: null,
          pleatCost: 0,
          trimming: {
            horizontal: {
              included: false,
              COM: false,
              pattern: null,
              price: null,
              labor: null,
              yardageRequired: null,
              cost: null,
              total: null,
            },
            vertical: {
              included: false,
              COM: false,
              pattern: null,
              price: null,
              labor: null,
              yardageRequired: null,
              cost: null,
              total: null,
            },
            total: {
              cost: null,
            },
          },
          unitCost: 0,
        },
        methods: {
          masterFunction,
          update() {
            //check pleat style selection and change fullness options
            if (this.pleatType == "1prong") {
              this.fullnessOptions = [1.5, 2];
              this.fullnessMessage =
                "1.5 is recommended fullness for 1 Prong Pinch Pleat";
            } else if (
              this.pleatType == "2prong" ||
              this.pleatType == "2prongtacked"
            ) {
              this.fullnessOptions = [1.5, 2, 2.25, 2.5];
              this.fullnessMessage =
                "2.25 is recommended fullness for 2 Prong Pleats";
            } else if (this.pleatType == "singleskip") {
              this.fullnessOptions = [1.5, 2, 2.25, 2.5];
              this.fullnessMessage =
                "2.5 is recommended fullness for Single Skip Pleat";
            } else {
              this.fullnessOptions = [1.5, 2, 2.25, 2.5, 3];
              this.pleatMessage = "";
              this.fullnessMessage = "";
            }

            //send the entire object to masterFunction
            var result = masterFunction(this.$data);

            //map result data back to view
            this.finishedWidth = result.finishedWidth;
            this.totalWidths = result.totalWidths;
            this.cutLength = result.cutLength;
            this.fabricNeededForRepeat = result.fabricNeededForRepeat;
            this.totalLength = result.totalLength;
            this.COMyardage = result.COMyardage;
            this.pricePoint = result.pricePoint;
            this.baseCost = result.D1;
            this.interliningCost = result.interliningCost;
            this.blackoutCost = result.blackoutCost;
            this.pleatCost = result.pleatCost;
            this.trimming.vertical.yardageRequired =
              result.trimming.vertical.yardageRequired;
            this.trimming.vertical.labor = result.trimming.vertical.labor;
            this.trimming.vertical.cost = result.trimming.vertical.cost;
            this.trimming.vertical.total = result.trimming.vertical.total;
            this.trimming.horizontal.yardageRequired =
              result.trimming.horizontal.yardageRequired;
            this.trimming.horizontal.labor = result.trimming.horizontal.labor;
            this.trimming.horizontal.cost = result.trimming.horizontal.cost;
            this.trimming.horizontal.total = result.trimming.horizontal.total;
            this.trimming.total.cost = result.trimming.total.cost;
            this.unitCost = result.unitCost;
          },
          copyAddress() {
            this.shipTo.name = this.billTo.name;
            this.shipTo.address = this.billTo.address;
            this.shipTo.city = this.billTo.city;
            this.shipTo.state = this.billTo.state;
            this.shipTo.zipCode = this.billTo.zipCode;
          },
        },
        mounted: function () {
          this.update();
        },
      });
    </script>
  </body>
</html>
